@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/*pour les titres*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
/*pour le texte*/

body{
    margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
    margin-left: 0px;
}
nav{
    width: 100%;
    background-color: rgb(54, 80, 56);
}
nav > ol{
    margin: 0px;
    padding: 0px;
}
nav > ol::after{
    content: "";
    display: block;
    clear: both;
}
nav > ol > li{
    float: right;
    position: relative;
}
nav > ol > li > a{
    padding: 20px 30px;
    color:  blanchedalmond;
    font-family: 'Amatic SC';
    font-size: 25px;
}
nav > ol >li:hover a{
    padding: 15px 30px 20px 30px;
}
nav li{
    list-style-type: none;
}
.submenu{
    display: none;
}
nav a{
    display: inline-block;
    text-decoration: none;
}
nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    right: 0px;
    padding: 0px;
    z-index: 1000;
}
.submenu li{
    border-bottom: 1px solid  rgb(54, 80, 56);
}
.submenu li a{
    padding: 15px 30px;
    font-size: 17px;
    font-family: 'Amatic SC';
    color: black;
    width: 270px;
}
.menuprojet:hover{
    border-top: 5px solid #e44d26;
    background-color:  RGBa(228, 77, 38, 0.15);
}
.menufabrique:hover{
    border-top: 5px solid  #e44d26;
    background-color: RGBa(228, 77, 38, 0.15);
}
.menuprojet .submenu{
    background-color: RGB(220, 100, 40);
}
.menufabrique .submenu{
    background-color: RGB(220, 100, 40);
}
.submenu li:hover a{
    color: blanchedalmond;
    font-weight: bold;
}
.menuprojet .submenu li:hover{
    background-color: RGB(210, 77, 60);
}
.menufabrique .submenu li:hover{
    background-color: RGB(210, 77, 60);
}


.IMGJPG{
        background-image: url(media/kim10.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top right   
}    
.IMGJPG2{
    background-image: url(media/kim3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left  
}   
.imageronde{
    position:absolute;
		top: 130px;
        left: 96px;
        overflow: hidden;
        -webkit-border-radius:310px;
        -moz-border-radius:310px;
        border-radius:310px;
        width:167px;
        height:167px;
        border: solid 4px rgb(54, 80, 56);;
}
.imageronde2{ 
    position:absolute;
    top: 2470px;
    left: 1100px;
    overflow:hidden;
}
 #titreINSTA{
     position: relative;
     top: 0em;
     text-align: center; 
     float: left;
     font-size: 40px;
     font-family: 'Amatic SC';
     color:  blanchedalmond;
     left: 100px;
     padding-top: 6px;
 }
p{
        margin: 5px 200px 5px 200px;
}

ul{
    font-family: 'Amatic SC';
    color: blanchedalmond;
    text-align: center;
    overflow: hidden;
    padding-top: 30px;
    font-size: 25px;
    margin-right: 40px;
}

li{list-style-type: none;
}
h1{
    margin-top: 70px;
}

#formation{
    background-color: rgb(117, 168, 120);
    margin: 0px 500px 0px 500px;
    border-radius: 200px 200px 200px 200px;
    opacity: 90%;
}

    /*lesTraitenarrondi*/

#premierTrait {
    height: 29px;
    width: 20%;
    margin: 0px auto;
    background-color: rgb(117, 168, 120);
    opacity: 90%;
    border-radius: 200px 200px 0px 0px;
}
#secondTrait{
    height: 29px;
    width: 20%;
    margin: 0px auto;
    background-color: rgb(117, 168, 120);
    opacity: 90%;
    border-radius: 200px 200px 0px 0px;
}
#troisièmeTrait{
    height: 29px;
    width: 20%;
    margin: 0px auto;
    background-color:  rgb(54, 80, 56);
    border-radius: 200px 200px 0px 0px;
}
#quatrièmeTrait{
    height: 29px;
    width: 20%;
    margin: 0px auto;
    background-color: rgb(117, 168, 120);
    opacity: 90%;
    border-radius: 200px 200px 0px 0px;
}
#cinquièmeTrait{
    height: 29px;
    width: 20%;
    margin: 0px auto;
    background-color: rgb(117, 168, 120);
    opacity: 90%;
    border-radius: 200px 200px 0px 0px;
}
#sixièmeTrait{
    height: 29px;
    width: 20%;
    margin: 0px auto;
    background-color: rgb(117, 168, 120);
    opacity: 90%;
    border-radius: 200px 200px 0px 0px;
}
#septièmeTrait{
    height: 29px;
    width: 40%;
    margin: 0px auto;
    background-color: rgb(117, 168, 120);
    opacity: 90%;
    border-radius: 0px 0px 200px 200px;
}
#huitièmeTrait{
    height: 29px;
    width: 40%;
    margin: 0px auto;
    background-color: rgb(54, 80, 56);
    border-radius: 0px 0px 200px 200px;
}

    /*lesblocossedetexte*/

#blocosse1{
    overflow: hidden;
    background-color: rgb(117, 168, 120);
    width: 100%;
    opacity: 90%;
}
#blocosse2{
    overflow: hidden;
    background-color: rgb(117, 168, 120);
    width: 100%;
    opacity: 90%;
}
#blocosse3{
    overflow: hidden;
    background-color:  rgb(54, 80, 56);
    width: 100%;
    
}
#blocosse4{
    overflow: hidden;
    background-color: rgb(117, 168, 120);
    width: 100%;
    opacity: 90%;
}
#blocosse5{
    overflow: hidden;
    background-color: rgb(117, 168, 120);
    width: 100%;
    opacity: 90%;
}
#blocosse6{
    overflow: hidden;
    background-color: rgb(117, 168, 120);
    width: 100%;
    opacity: 90%;
}
#blocosse7{
    overflow: hidden;
    background-color: rgb(117, 168, 120);
    width: 100%;
    opacity: 90%;
    height: 140px;
}
#blocosse8{
    position: relative;
    z-index:1;
    overflow: hidden;
    background-color: rgb(54, 80, 56);
    position: fixed;
    width: 100%;
    margin-top: 0px;
}
#blocosse9{
    position: relative;
    z-index: 2;
    overflow: hidden;
    background-color: blanchedalmond;
    width: 100%;
    margin-top: 0px;
    height: 2px;
}
